.input{
    width: 97.5%;
    padding: 0.5rem;
    outline: none;
}
.inputbox{
    width:50%;
    margin:0 auto 0;
    border: black;
}
.result{
    max-height: 300px;
    overflow: auto;
    padding: 0;
    border: 2px solid gray;
    border-radius: 5px;
}